$colors: (
   common: (
      white: #ffffff,
      black: #000000,
   ),
   heading: (
      primary: #545454,
   ),
   text: (
      body: #787878,
      body-2: #3e3e3e,
   ),
   theme: (
      primary: #fc5828,
      primary-2: #d03507,
      primary-3: #eb9c85,
      primary-4: #ffdcd2,
      primary-5: #ffbaa6,
      primary-6: #fff2ee,
      primary-7: #f2b6a5,
      secondary: #545454,
      dark: #363636,
   ),
   grey: (
      1: #fafafc,
      2: #aeaeae,
      3: #a1a1a1,
      4: #505050,
      5: #010101,
      6: #aeaeae,
      7: #d9d9d9,
      8: #3a3a3a,
      9: #333,
      10: #717171,
      11: #323c45,
      12: #e4e4e4,
      13: #3e3e3e,
   ),
   light: (
      1: #fff8f6,
      2: #fff2ee,
      3: #fff5f2,
      4: #ffdcd2,
      5: #ffede7,
      6: #ffc131,
      7: #ecfff3,
      8: #fff61b,
      9: #fff9f7,
      10: #cacaca,
      11: #f2b6a5,
   ),
   border: (
      1: #f2f2f2,
      2: #787878,
      3: #cacaca,
      4: #f2f5f9,
      5: #f2f2f2,
      6: #edf0f3,
      7: #ff6f45,
      8: #eb9c85,
   ),
);
