@use "../utilities" as *;

/**----------------------------------------
START: Team CSS
----------------------------------------*/
.tj-team-section {
   padding-top: 120px;
   padding-bottom: 120px;
   background: var(--tj-color-grey-1);
   &.style-2 {
      padding-top: 120px;
      padding-bottom: 90px;
   }
   .tj-heading-area {
      margin-bottom: 60px;
      .sec-sub-title {
         margin-bottom: 0;
      }
   }
   .team-navigation {
      display: flex;
      align-items: center;
      font-size: 40px;
      line-height: 1;
      color: var(--tj-color-common-white);
      gap: 25px;
      font-weight: var(--tj-fw-regular);
      z-index: 2;
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 1;
      .team-next,
      .team-prev {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         width: 40px;
         height: 40px;
         line-height: 1;
         border-radius: 50%;
         background: transparent;
         color: var(--tj-color-theme-primary);
         font-size: 18px;
         transform: rotate(45deg);
         border: 1px solid var(--tj-color-theme-primary);
         @include transition(all 0.3s ease-in-out 0s);
         i {
            line-height: 1;
            color: var(--tj-color-theme-primary);
         }
         &.swiper-button-disabled {
            color: var(--tj-color-common-white);
         }
         &:hover {
            background-color: var(--tj-color-theme-primary);
            border-color: var(--tj-color-theme-primary);
            color: var(--tj-color-common-white);
            i {
               color: var(--tj-color-common-white);
            }
         }
      }
      .team-prev {
         transform: rotate(-135deg);
      }
   }
   @media #{$md, $sm, $xs} {
      padding-top: 80px;
      padding-bottom: 50px;
      &.style-2 {
         padding-top: 80px;
         padding-bottom: 50px;
      }
      .tj-heading-area {
         margin-bottom: 40px;
      }
   }
}

.tj-team-section-two {
   padding-top: 120px;
   padding-bottom: 120px;
   position: relative;
   z-index: 2;
   .team-left-shapes {
      position: absolute;
      left: 0;
      top: 95px;
      max-width: 185px;
      width: 100%;
      z-index: -1;
      img {
         width: 100%;
      }
   }
   .team-right-shapes {
      position: absolute;
      right: 0;
      bottom: 18%;
      max-width: 195px;
      width: 100%;
      z-index: -1;
      img {
         width: 100%;
      }
   }
   @media #{$md, $sm, $xs} {
      padding-top: 80px;
      padding-bottom: 80px;
   }
   @media #{$xs} {
      .tj-heading-three {
         margin-bottom: 15px;
      }
   }
}

.team-top-content-area {
   margin-bottom: 60px;
   display: flex;
   flex-wrap: wrap;
   align-items: end;
   justify-content: space-between;
   .team-navigation {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 25px;
      .team-next,
      .team-prev {
         display: inline-flex;
         align-items: center;
         justify-content: center;
         width: 40px;
         height: 40px;
         line-height: 1;
         color: var(--tj-color-common-white);
         background: var(--tj-color-theme-secondary);
         border-radius: 50%;
         @include transition(all 0.3s ease-in-out 0s);
         &:hover {
            color: var(--tj-color-common-white);
            background-color: var(--tj-color-theme-primary);
         }
      }
   }
   @media #{$md, $sm, $xs} {
      margin-bottom: 40px;
   }
}

.tj-team-slider {
   padding-bottom: 70px;
   @media #{$md, $sm, $xs} {
      padding-bottom: 45px;
   }
}

.team-item {
   border-radius: 6px;
   border: 1px solid var(--tj-color-light-4);
   padding: 30px 30px 15px;
   margin-bottom: 30px;
   position: relative;
   z-index: 2;
   min-height: 380px;
   max-height: 380px;
   width: 100%;
   overflow: hidden;
   @include transition(all 0.5s ease-in-out 0s);
   .team-images {
      background-size: cover;
      height: 215px;
      width: 100%;
      background-position: center top;
      margin-bottom: 18px;
      @include transition(all 0.5s ease-in-out 0s);
      border-radius: 5px;
   }
   .team-content {
      .team-text {
         padding-top: 15px;
         @include transition(all 0.5s ease-in-out 0s);
         .title {
            margin-bottom: 5px;
            a {
               font-style: italic;
               &:hover {
                  color: var(--tj-color-theme-primary);
               }
            }
            span {
               font-weight: var(--tj-fw-light);
            }
         }
         p {
            display: block;
            color: var(--tj-color-theme-secondary);
            font-size: 18px;
            font-style: italic;
            font-weight: var(--tj-fw-sbold);
            font-family: var(--tj-ff-heading);
            position: relative;
            z-index: 1;
            padding-left: 18px;
            margin-bottom: 25px;
            &::before {
               position: absolute;
               content: "";
               width: 45px;
               height: 2px;
               left: 0;
               bottom: -5px;
               background: var(--tj-color-theme-secondary);
            }
         }
      }
      .team-socials {
         position: absolute;
         bottom: 0;
         left: 30px;
         opacity: 0;
         visibility: hidden;
         @include transition(all 0.5s ease-in-out 0s);
         ul {
            @extend .dot-style;
            display: flex;
            align-items: center;
            gap: 18px;
            li {
               a {
                  display: inline-flex;
                  align-items: center;
                  justify-content: center;
                  width: 24px;
                  height: 24px;
                  line-height: 1;
                  font-size: 13px;
                  color: var(--tj-color-common-white);
                  background: var(--tj-color-theme-secondary);
                  border-radius: 50%;
                  i {
                     line-height: 1;
                  }
                  &:hover {
                     background-color: var(--tj-color-theme-primary);
                     color: var(--tj-color-common-white);
                  }
               }
            }
         }
      }
   }
   &:hover {
      background-color: var(--tj-color-light-5);
      border-color: var(--tj-color-light-5);
      .team-content {
         .team-text {
            transform: translateY(-50px);
            background-color: var(--tj-color-light-5);
            .title {
               span {
                  color: var(--tj-color-theme-secondary);
               }
            }
            p {
               color: var(--tj-color-theme-primary);
            }
         }
         .team-socials {
            opacity: 1;
            visibility: visible;
            bottom: 30px;
         }
      }
   }
   @media #{$sm, $xs} {
      padding: 23px 15px 10px;
      .team-content {
         .team-text {
            .title {
               font-size: 25px;
            }
            p {
               &::before {
                  width: 35px;
               }
            }
         }
         .team-socials {
            left: 15px;
         }
      }
   }
   @media #{$xs} {
      background-color: var(--tj-color-light-5);
      border-color: var(--tj-color-light-5);
      .team-content {
         .team-text {
            transform: translateY(-50px);
            background-color: var(--tj-color-light-5);
            .title {
               span {
                  color: var(--tj-color-theme-secondary);
               }
            }
            p {
               color: var(--tj-color-theme-primary);
            }
         }
         .team-socials {
            opacity: 1;
            visibility: visible;
            bottom: 30px;
            ul {
               li {
                  a {
                     width: 30px;
                     height: 30px;
                  }
               }
            }
         }
      }
   }
}

.tj-team-slider2 {
   padding-left: 25px;
}

.team-item-two {
   position: relative;
   z-index: 1;
   .team-image {
      img {
         width: 100%;
      }
   }
   .team-content {
      position: absolute;
      bottom: 30px;
      left: 0;
      max-width: 330px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background: var(--tj-color-theme-primary-6);
      padding: 22px 25px;
      z-index: 2;
      @include transition(all 0.3s ease-in-out 0s);
      &::before {
         position: absolute;
         content: "";
         height: 100%;
         width: 45px;
         top: 0;
         left: -25px;
         background: var(--tj-color-theme-primary-6);
         z-index: -1;
         @include transition(all 0.3s ease-in-out 0s);
      }
      &::after {
         position: absolute;
         content: "";
         border-bottom: 35px solid var(--tj-color-theme-primary-7);
         border-left: 25px solid transparent;
         top: -35px;
         left: -25px;
         z-index: -1;
      }
      .team-auother {
         @include transition(all 0.3s ease-in-out 0s);
         .title {
            margin-bottom: 5px;
            a {
               color: var(--tj-color-theme-secondary);
               span {
                  font-weight: var(--tj-fw-light);
                  color: var(--tj-color-theme-secondary);
               }
            }
         }
         span {
            color: var(--tj-color-body-2);
         }
      }
   }
   .team-share {
      .team-social {
         position: absolute;
         right: 25px;
         top: 50%;
         transform: translateY(-50%);
         display: inline-block;
         margin: 0;
         z-index: 2;
         li {
            position: relative;
            list-style-type: none;
            display: inline-block;
            i {
               display: inline-flex;
               align-items: center;
               justify-content: center;
               width: 40px;
               height: 40px;
               background: var(--tj-color-theme-secondary);
               color: var(--tj-color-common-white);
               font-size: 18px;
               position: relative;
               overflow: hidden;
            }
            .team-social-icon {
               position: absolute;
               left: 0;
               bottom: 0;
               opacity: 0;
               visibility: hidden;
               transition: all ease 0.8s;
               z-index: 4;
               background: var(--tj-color-common-white);
               padding: 15px 10px;
               max-width: 40px;
               width: 100%;
               gap: 15px;
               li {
                  a {
                     width: 20px;
                     height: 20px;
                     background: var(--tj-color-theme-primary);
                     i {
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        width: 15px;
                        height: 15px;
                        color: var(--tj-color-common-white);
                        font-size: 12px;
                        background: transparent;
                     }
                  }
               }
            }
            &:hover {
               .team-social-icon {
                  opacity: 1;
                  visibility: visible;
                  bottom: 0;
                  z-index: 5;
                  transform: scaleY(1);
               }
            }
         }
      }
   }
   &:hover {
      .team-content {
         background-color: var(--tj-color-theme-primary);
         &::before {
            background-color: var(--tj-color-theme-primary);
         }
         .team-auother {
            .title {
               a {
                  color: var(--tj-color-common-white);
                  span {
                     color: var(--tj-color-common-white);
                  }
               }
            }
            span {
               color: var(--tj-color-common-white);
            }
         }
      }
   }
   @media #{$xl} {
      .team-content {
         max-width: 300px;
      }
   }
   @media #{$lg} {
      .team-content {
         max-width: 250px;
      }
   }
   @media #{$md, $sm, $xs} {
      .team-content {
         max-width: 300px;
      }
   }
}

.mfp-fade.mfp-bg {
   opacity: 0;

   -webkit-transition: all 0.1s ease-out;
   -moz-transition: all 0.1s ease-out;
   transition: all 0.1s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
   opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
   opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
   opacity: 0;

   -webkit-transition: all 0.1s ease-out;
   -moz-transition: all 0.1s ease-out;
   transition: all 0.1s ease-out;
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
   opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
   opacity: 0;
}

.mfp-arrow-right,
.mfp-arrow-left {
   opacity: 1;
   &::before {
      display: none;
   }
   &::after {
      content: "\f061";
      font-family: "Font Awesome 6 Pro";
      display: block;
      width: 0;
      height: 0;
      position: absolute;
      left: 20px;
      top: 0;
      margin-top: 35px;
      margin-left: 35px;
      border: medium inset transparent;
      color: var(--tj-color-common-white);
      font-size: 30px;
      font-weight: var(--tj-fw-elight);
      transform: rotate(-180deg);
   }
}

.mfp-arrow-right {
   &::after {
      transform: rotate(0deg);
      right: 60px;
      left: auto;
   }
}

.mfp-close {
   width: 45px;
   height: 45px;
   line-height: 45px;
   right: 0;
   top: 0;
   opacity: 1;
   font-size: 30px;
   font-weight: var(--tj-fw-elight);
   font-family: "Font Awesome 6 Pro";
}
/* !END: Team CSS */
